{% extends 'base.html' %}
{% load static %}
{% block title %}Registro de comidas{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/hero.css' %}">
{% endblock %}

{% block content %}

    <!-- HERO -->
    <div class="wrapper d-none">
        <section class="hero">
            <h1>You thirsty?</h1>
            <article>
            <p>Explore local breweries with just one click and stirred by starlight across the centuries light years great turbulent clouds circumnavigated paroxysm of global death.</p>
            <a href="#breweries">Browse Breweries</a>
            </article>
        </section>
        <section class="breweries" id="breweries">
            <ul id="hero-ul">
            <li>
                <figure>
                <!-- Photo by Quentin Dr on Unsplash -->
                <img src="https://images.unsplash.com/photo-1471421298428-1513ab720a8e" alt="Several hands holding beer glasses">
                <figcaption><h3>Billions upon billions</h3></figcaption>
                </figure>
                <p>
                Made in the interiors of collapsing stars star stuff harvesting star light venture billions upon billions Drake Equation brain is the seed of intelligence?
                </p>
                <a href="#">Visit Website</a>
            </li>
            <li>
                <figure>
                <!-- Photo by Drew Farwell on Unsplash -->
                <img src="https://images.unsplash.com/photo-1513309914637-65c20a5962e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80" alt="Several friends doing a toast">
                <figcaption><h3>Drake Equation</h3></figcaption>
                </figure>
                <p>
                Another world citizens of distant epochs from which we spring descended from astronomers Orion's sword shores of the cosmic ocean.
                </p>
                <a href="#">Visit Website</a>
            </li>
            <li>
                <figure>
                <!-- Photo by Rawpixel on Unsplash -->
                <img src="https://images.unsplash.com/photo-1535359056830-d4badde79747?ixlib=rb-1.2.1&auto=format&fit=crop&w=3402&q=80" alt="Three different glasses of beer">
                <figcaption><h3>Vast cosmic arena</h3></figcaption>
                </figure>
                <p>
                Galaxies the ash of stellar alchemy prime number science inconspicuous motes of rock and gas brain is the seed of intelligence.
                </p>
                <a href="#">Visit Website</a>
            </li>
            </ul>
        </section>
    </div>

    <main class="d-flex justify-content-center">
        <div class="d-flex flex-column align-items-center mt-4 col-3">
            <h2>Consulta Nutricional</h2>
            <div class="card rounded">
                <div class="card-body rounded">
                    <span class="text-secondary fw-bold">Lic. María Belén Jeréz</span>
                    <p>
                        <h3>¡Bienvenido!</h3>

                        Aquí te dejo algunas cositas importantes a tener en cuenta:

                        <ul>
                            <li><span>Si vas a realizarte mediciones Antropométricas, por favor asistir a la consulta con ropa cómoda ( Varones: short deportivo/ Mujeres: short deportivo o calza corta y top deportivo)</span></li>
                            <li><span>Cualquier duda que tengas podés comunicarte al 387 4633270</span></li>
                            <li><span>Rogamos puntualidad en la consulta.</span></li>
                        </ul>

                        ¡Muchas gracias, nos vemos pronto!
                    </p>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column align-items-center mt-4 col-4">
            <h2>Solicita un turno</h2>
            <form id="turnoForm" action="{% url 'turnos:registrar_turno' %}" method="post" class="">
                {% csrf_token %} 
                <div id="ciudaddDiv" class="d-flex col-12 mb-3 justify-content-around gap-2">
                    <div class="d-flex">
                        <label for="ciudad_1" class="btn btn-primary">Salta</label>
                        <input type="radio" name="ciudad" id="ciudad_1" value="Salta" class="ciudadChecker d-none" checked>
                    </div>
                    <div class="d-flex">
                        <label for="ciudad_2" class="btn btn-primary">Tartagal</label>
                        <input type="radio" name="ciudad" id="ciudad_2" value="Tartagal" class="ciudadChecker d-none">
                    </div>
                </div>
                <input type="date" id="calendar" class="custom-control" name="fecha" />
                <div class="card d-none" id="turnoCard">
                    <div class="card-body">
                            
                            <input
                                type="time"
                                id="horaSeleccionada"
                                class="d-none"
                                name="hora"
                            />
                            <label for="nombre">Nombre</label>
                            <input type="text" name="nombre" id="nombre" class="form-control 
                            mb-2">
                            <label for="apellido">Apellido</label>
                            <input type="text" name="apellido" id="apellido" class="form-control
                            mb-2">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="form-control
                            mb-2">
                            <label for="telefono">Teléfono</label>
                            <input type="tel" name="telefono" id="telefono" class="form-control
                            mb-2">
                            <label for="edad">Edad</label>
                            <input type="number" name="edad" id="edad" class="form-control
                            mb-2" min="0" max="100">
                            <div>
                                <h6 class="fw-bold">Lugar de encuentro</h6>
                                <div class="d-flex gap-2">
                                    <div id="googleMeetDiv">    
                                        <input type="radio" name="encuentro" id="encuentro_2" value="Google Meet" class="form-check-input" checked>
                                        <label for="encuentro_2">Google Meet</label>
                                    </div>
                                    
                                    <div id="consultorioDiv" class="d-none">
                                        <input type="radio" name="encuentro" id="encuentro_1" value="Consultorio" class="form-check-input">
                                        <label for="encuentro_1">Consultorio</label>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-column justify-content-center mb-2">
                                <h6 class="fw-bold">Motivo de consulta</h6>
                                <div>
                                    <input type="radio" name="motivo" id="motivo_1" value="Plan alimentario" class="form-check-input">
                                    <label for="motivo_1">Plan alimentario</label>
                                </div>

                                <div>
                                    <input type="radio" name="motivo" id="motivo_2" value="Antropometría" class="form-check-input">
                                    <label for="motivo_2">Antropometría</label>
                                </div>

                                <div>
                                    <input type="radio" name="motivo" id="motivo_3" value="Plan alimentario y antropometría" class="form-check-input">
                                    <label for="motivo_3">Plan alimentario y Antropometría</label>
                                </div>

                                <div>
                                    <input type="radio" name="motivo" id="motivo_4" value="otro" class="form-check-input">
                                    <label for="motivo_4">Otro: <input type="text" class="form-control" id="inputOtro"></label>
                                </div>
                            </div>
                            
                            <div class="d-flex justify-content-center">
                                <button id="backButton" class="btn btn-secondary me-2">
                                    Cancelar
                                </button>
                                <button type="submit" class="btn btn-primary">
                                    Solicitar Turno
                                </button>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </main>

    <!-- MODAL DE TURNOS -->
    <div class="modal" tabindex="-1" id="modalHoraios">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Horarios disponibles</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row gap-2">
                    {% for horario in horarios_disponibles  %}
                        <div class="col-auto">
                            <label for="horario_{{ forloop.counter }}" 
                                class="btn btn-primary botonHorario"
                                data-hora="{{ horario|time:'H:i' }}">
                                {{ horario|time:"H:i" }}
                            </label>

                            <input type="radio"
                                name="horario"
                                id="horario_{{ forloop.counter }}"
                                value="{{ horario|time:'H:i' }}"
                                class="d-none">
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="botonCerrarModal">Confirmar Horario</button>
            </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}