{% extends 'base.html' %}
{% load static %} 
{% block title %}Registro de comidas{% endblock %}

{% block styles %}
<!-- DATATABLE -->
<link rel="stylesheet" href="//cdn.datatables.net/2.3.3/css/dataTables.dataTables.min.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">
<!-- FLATPICKR -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"/>
<!-- ESTILOS EXTRA -->
<link rel="stylesheet" href="{% static 'css/filtro-fecha.css' %}">
<link rel="stylesheet" href="{% static 'css/registro.css' %}">

{% endblock %} 

{% block content %}
<div class="container">
    <div class="card mt-4">
        <div
            class="card-header d-md-flex justify-content-between align-items-center"
        >
            <h2 class="mb-0">Registro de turnos</h2>
            <div class="d-flex gap-2">
                <a class="btn btn-primary btn-sm" href="{% url 'turnos_home' %}">
                    <i class="fa-solid fa-seedling"></i> Ver formulario
                </a>
                <button type="button" data-bs-target="#modalConfiguracion" data-bs-toggle="modal" class="btn btn-secondary btn-sm mt-2 mt-md-0">
                    <i class="fas fa-cog"></i> Configuración
                </button>
                <a
                    class="btn btn-danger btn-sm"
                    href="{% url 'turnos:logout' %}"
                    ><i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión</a
                >
            </div>
        </div>
        <div class="card-body">
            <div>
                <div class="row mb-3">
                    <div class="col-md-3 mb-2 d-flex gap-2">
                        <input type="date" id="filtroFecha" class="custom-control"/>
                        <button id="cleanButton" class="btn btn-white btn-sm px-1 py-0 fs-5 d-none fw-bold" title="clear" data-clear><i class="fa-regular fa-circle-xmark"></i></button>
                    </div>
                    <div class="col-md-2 mb-2">
                        <select id="filtroCiudad" class="custom-control">
                            <option value="">Todas las ciudades</option>
                            {% for ciudad in ciudades %}
                                <option value="{{ ciudad.nombre }}">{{ ciudad.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2 mb-2">
                        <select id="filtroMotivo" class="custom-control">
                            <option value="">Todos los motivos</option>
                            <option value="Plan alimentario">Plan alimentario</option>
                            <option value="Antropometría">Antropometría</option>
                            <option value="Bioimpedancia">Bioimpedancia</option>
                        </select>
                    </div>
                    <div class="col-md-2 mb-2">
                        <select id="filtroEncuentro" class="custom-control">
                            <option value="">Todos los encuentros</option>
                            <option value="Google Meet">Virtual (Meet)</option>
                            <option value="Consultorio">Consultorio</option>
                        </select>
                    </div>
                </div>
            </div>
            <div>
                <table
                    id="registroTable"
                    class="table"
                    data-url="{% url 'turnos:datatable' %}"
                    data-pdf-url="{% url 'turnos:export_pdf_data' %}"
                >
                    <thead>
                        <tr>
                            <th>Fecha y Hora</th>
                            <th>Apellido</th>
                            <th>Nombre</th>
                            <th>Edad</th>
                            <th>Teléfono</th>
                            <th>Email</th>
                            <th>Ciudad</th>
                            <th>Motivo</th>
                            <th>Lugar de encuentro</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- MODAL DE CONFIGURACIÓN -->
    <div class="modal" tabindex="-1" id="modalConfiguracion"
        data-horarios-url="{% url 'turnos:get_horarios' %}"
        data-ciudades-url="{% url 'turnos:get_ciudades' %}"
        data-update-horario-url="{% url 'turnos:update_horario' 0 %}"
        data-update-ciudad-url="{% url 'turnos:update_ciudad' 0 %}"
        data-crear-ciudad-url="{% url 'turnos:crear_ciudad' %}"
        data-eliminar-ciudad-url="{% url 'turnos:eliminar_ciudad' 0 %}"
        data-get-configuracion-url="{% url 'turnos:get_configuracion' %}"
        data-update-configuracion-url="{% url 'turnos:update_configuracion' %}"
    >
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Configuraciones</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% csrf_token %}

                <!-- CIUDADES -->
                <div class="d-flex">
                    <h6 class="fw-bold">Ciudades</h6>
                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="Haz clic en una ciudad para habilitarla o deshabilitarla. No es necesario guardar cambios para que surta efecto. Las ciudades deshabilitadas no aparecerán como opción en el formulario de turnos.">
                        <i class="fas fa-info-circle text-secondary"></i>
                    </span>
                </div>
                <div class="text-center mb-3">
                    <div id="ciudadesContainer" class="d-flex flex-wrap gap-2 flex-column align-items-center mb-2"></div>
                    <div class="d-flex gap-2 justify-content-center mt-2">
                        <input type="text" id="nuevaCiudadInput" class="form-control form-control-sm w-auto" placeholder="Nueva ciudad...">
                        <button type="button" class="btn btn-sm btn-primary" id="btnCrearCiudad">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div>
                    <h6 class="fw-bold">Configuraciones adicionales</h6>
                </div>
                <div class="d-flex align-items-center gap-2 mb-3">
                    <label for="deltaTurnos">Tiempo entre turnos: </label>
                    <input type="number" id="deltaTurnos" class="form-control form-control-sm w-auto text-center" min="0" max="120" value="60"> 
                    <span class="text-muted"> minutos</span>
                    <button class="btn btn-sm btn-success" id="btnGuardarDelta">
                        <i class="fas fa-check"></i>
                    </button>
                </div>
                <div class="d-flex align-items-center gap-2 mb-3">
                    <label for="emailContacto">Correo de notificaciones: </label>
                    <input type="email" id="emailContacto" class="form-control form-control-sm w-auto" placeholder="example@example.com">
                    <button class="btn btn-sm btn-success" id="btnGuardarEmail">
                        <i class="fas fa-check"></i>
                    </button>
                </div>
                
                <!-- HORARIOS -->
                <div class="d-flex">
                    <h6 class="fw-bold">Días y horarios</h6>
                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="Para modificar los horarios, haz clic en el día que deseas configurar:
    - Luego, configura la ciudad y el horario a tu gusto.
    - Finalmente, haz clic en Guardar Cambios para aplicar la configuración. 
    - Los dias sin ciudad asignada no estarán disponibles en el formulario de turnos.">
                        <i class="fas fa-info-circle text-secondary"></i>
                    </span>
                </div>
                <div id="diasContainer" class="d-flex flex-wrap gap-2 justify-content-center mb-2"></div>
                <p id="horariosInfo" class="text-secondary text-center"></p>
                <div id="horariosContainer" class="d-flex gap-2 justify-content-center align-items-center mt-2" style="display:none !important">
                    <select id="ciudadHorarioSelect" class="form-control">
                        <option value="">Sin ciudad</option>
                    </select>
                    <input type="time" id="horaApertura" name="hora_apertura" class="form-control">
                    <input type="time" id="horaCierre" name="hora_cierre" class="form-control">
                </div>
            </div>
            <div class="modal-footer justify-content-between align-items-center">
                <p id="messageBox" class="text-success"></p>
                <button type="button" class="btn btn-primary" id="botonGuardarCambios">Guardar Cambios</button>
            </div>
            </div>
        </div>
    </div>

<!-- MODAL ELIMINAR -->
<div class="modal" tabindex="-1" id="modalEliminar">
    <div class="modal-dialog">
        <div class="modal-content">
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title">Cancelar turno</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmarEliminar">Confirmar</button>
            </div>
        </div>
    </div>
</div>


{% endblock %} 
{% block scripts %}
<!-- DATATABLE -->
<script src="//cdn.datatables.net/2.3.3/js/dataTables.min.js"></script>
<script src="{% static 'js/registro-datatable.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/responsive/3.0.7/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/buttons/3.2.5/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/3.2.5/js/buttons.html5.min.js"></script>

<!-- FLATPICKR -->
<script src="{% static 'js/filtro-fecha.js' %}"></script>
<script src="{% static 'js/configuraciones.js' %}"></script>

{% endblock %}