body{
    background-color: #F8BBD0 !important;
    color: #4A4A4A !important;
}

h1,
h2,
h3,
h4,
h5{
    color: #fff;
}

.card,
.card-body{
    background-color: #FCE4EC;
}

.modal-header{
    background-color: #F48FB1;
}

.modal-body{
    background-color: #FCE4EC;
}

.modal-footer{
    background-color: #FCE4EC;
    border-top: transparent;
}

.btn-primary {
    background-color: #7dc9ad;
    border-color: #F2FBF7;
}

.btn-primary:hover {
    background-color: #F2FBF7;
    border-color: #A8E6CF;
    color: #A8E6CF;
}

.btn-primary:active:focus {
    background-color: #F2FBF7;
    border-color: #A8E6CF;
    color: #A8E6CF;
}

.ciudadChecker:checked + .btn-ciudad {
    background-color: #A8E6CF;
    border-color: #F2FBF7;
    color: #F2FBF7;
}

.btn-white{
    background-color: #F2FBF7;
    border-color: #A8E6CF;
    color: #A8E6CF;
}

.btn-white:hover{
    background-color: #A8E6CF;
    border-color: #F2FBF7;
    color: #F2FBF7;
}

.btn-white:active:focus {
    background-color: #A8E6CF;
    border-color: #F2FBF7;
    color: #F2FBF7;
}

.btn-white.active{
    background-color: #A8E6CF;
    border-color: #F2FBF7;
    color: #F2FBF7;
}